@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: franklin;
  src: url(/assets/fonts/FranklinGothic-Heavy.otf);
  font-weight: 700 !important;
}

body {
  background-color: #1C2430 !important;
  font-family: 'Sarabun', sans-serif !important;
}

.nav-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.nav-text:hover {
  color: #2672ff;
}

.links-gap {
  gap: 32px;
}

.icons:hover {
  scale: 1.3;
  transition: all 300ms linear;
}

.nav-logo {
  font-family: franklin;
  font-weight: 400;
  font-size: 21.64px;
  line-height: 24.54px;
  letter-spacing: 11%;
  text-decoration: none;
  list-style-type: none;
}

.icons-ml {
  margin-left: 32px;
}

.icons-gap {
  gap: 18px;
}

.nav-pt {
  padding-top: 28px;
}

.logo-image {
  top: 0;
  left: 0;
  max-width: 540px;
}

.z-10 {
  z-index: 10;
}

.text-right {
  text-align: right;
}

.hero-section {
  background-color: #1C2430;
  min-height: 557px;
}

.max-w-1920 {
  max-width: 1920px;
}

.text-primary {
  color: #3586FF !important;
}

.btn-primary {
  background-color: #245AAB !important;
  border: 2px solid #245AAB !important;
  margin-top: 43px;
  padding: 6px 23px !important;
}

.btn-primary:hover {
  scale: 1.1;
  transition: all 300ms linear;
}

.right-0 {
  right: 0;
}

.heading-font {
  font-size: 64px;
  font-family: franklin;
}

.size-border {
  width: 164px;
  height: 2px;
  background-color: #3586FF;
}

.max-w-1140 {
  max-width: 1140px !important;
}

.light-position {
  bottom: -2%;
  left: 0;
}

.hero-image-position {
  right: 0;
}

.story-heading {
  font-family: franklin;
  font-weight: 400;
  font-size: 43px;
  line-height: 48.75px;
  color: #3586FF;
  padding-bottom: 23px;
}

.story-pera {
  font-weight: 400;
  line-height: 20.8px;
  color: #D4E5FF;
  max-width: 888px;
  font-size: 14px;
}

.story-padding {
  padding-top: 36px;
}

.story-image {
  width: 100%;
  height: 357px;
  margin-top: 58px;
  margin-bottom: 61px;
}

.team-image {
  max-width: 202px;
  height: 202px;
  margin-bottom: 23px;
  width: 100%;
}
.pointer-events-none{
  pointer-events: none !important;
}

.card-heading {
  font-family: franklin;
  font-weight: 400;
  font-size: 24px;
  line-height: 27.21px;
  color: #3586FF;
  padding-bottom: 9px;
}

.card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  color: #D4E5FF;
  padding-bottom: 8px;
  max-width: 202px;
}

.twitter {
  max-width: 20px;
  height: 20px;
}

.max-w-880 {
  max-width: 880px;
  padding-bottom: 36px;
}

.team-pt {
  padding-top: 56px;
}

.footer-heading {
  font-family: franklin;
  font-weight: 400;
  font-size: 21.64px;
  line-height: 24.54px;
  letter-spacing: 11%;
  color: #FFFFFF;
    text-decoration: none;
      list-style-type: none;
}

.footer-bg {
  background-color: #245AAB;
}

.hero-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.team-padding {
  padding-bottom: 36px;
}

.footer-left-image {
  max-width: 355px;
  height: 186px;
  top: -6%;
}

.image-mb {
  margin-bottom: 12px;
}

.footer-right-image {
  max-width: 564px;
  height: 186px;
  top: -6%;
  right: 0;
}

.slider-left {
  animation: scrollLeft 18s linear infinite;
}

.slider-left:hover {
  animation-play-state: paused;
}

.slider-right:hover {
  animation-play-state: paused;
}

.pb-28 {
  padding-bottom: 28px;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.slider-right {
  animation: scrollRight 18s linear infinite;
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

@media(max-width:1280.99px) {
  .logo-image {
    top: 0;
    left: 0;
    max-width: 430px;
  }
}

@media(max-width:1024.99px) {
  .logo-image {
    max-width: 340px;
    height: 79px;
  }

  .light-position {
    display: none;
  }

  .hero-section {
    min-height: 511px;
  }

  .image-mb {
    margin-bottom: 0;
  }
}

@media(max-width:1020.99px) {

  .btn-primary {
    margin-top: 20px;
  }

  .story-padding {
    padding-top: 20px;
  }

  .hero-padding {
    padding-top: 20px;
  }

  .team-pt {
    padding-top: 30px;
  }

  .hero-image-position {
    top: 23%;
  }

  .size-border {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-image-position {
    max-width: 400px;
    height: 400px;
  }

  .hero-section {
    min-height: 720px;
  }
}

@media(max-width:768.99px) {
  .story-image {
    height: 100%;
  }

  .hero-image-size {
    max-width: 500px !important;
  }

  .slider-image {
    width: 250px;
    height: 250px;
  }

  .hero-image-position {
    top: 28%;
  }

  .logo-image {
    max-width: 240px;
    height: 79px;
  }

  .footer-right-image {
    max-width: 470px;
    height: 120px;
    top: 32%;

  }
}

@media(max-width:640.99px) {
  .footer-right-image {
    max-width: 170px;
    height: 120px;
    top: 32%;

  }

  .footer-left-image {
    max-width: 170px;
    height: 120px;
    top: 32%;
  }

  .slider-image {
    width: 190px;
    height: 190px;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .nav-pt {
    padding-top: 12px;
  }

  .logo-image {
    max-width: 160px;
    height: 47px;
  }

  .nav-logo {
    font-size: 18px;
  }

  .icons-ml {
    margin-left: 12px;
  }

  .links-gap {
    gap: 13px;
  }

  .nav-text {
    font-size: 13px;
  }

  .icons-gap {
    gap: 9px;
  }

  .heading-font {
    font-size: 44px;
  }

  .hero-image-position {
    top: 37%;
  }

  .hero-section {
    min-height: 630px;
  }

  .team-image {
    max-width: none;
    height: 100%;
    margin-bottom: 23px;
    width: 100%;
  }

  .card-text {
    max-width: none;
  }

  .story-heading {
    font-size: 32px;

  }

  .card-heading {
    font-size: 20px;
  }
  .team-pt{
    padding-top: 12px;
  }
  .story-image{
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .story-padding{
    padding-top: 10px;
  }
}