@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
  background-color: #1C2430 !important;
  font-family: 'Sarabun',sans-serif;
}
.story-heading {
  font-family: Franklin Gothic Heavy;
  font-weight: 400;
  font-size: 43px;
  line-height: 48.75px;
  color: #3586FF;
  padding-bottom: 23px;
}

.story-pera {
  font-family: Sarabun;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: #D4E5FF;
  max-width: 888px;
}

.pt-36 {
  padding-top: 36px;
}

.story-image {
  width: 100%;
  height: 357px;
  margin-top: 58px;
  margin-bottom: 117px;
}
/* team */
.team-image {
  max-width: 202px;
  height: 202px;
  margin-bottom: 23px;
  width: 100%;
}

.card-heading {
  font-family: Franklin Gothic Heavy;
  font-weight: 400;
  font-size: 24px;
  line-height: 27.21px;
  color: #3586FF;
  padding-bottom: 9px;
}

.card-text {
  font-family: Sarabun;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  color: #D4E5FF;
  padding-bottom: 8px;
  max-width: 202px;
}

.twitter {
  max-width: 20px;
  height: 20px;
}

.max-w-880 {
  max-width: 880px;
  padding-bottom: 36px;
}

.footer-heading {
  font-family: Franklin Gothic Heavy;
  font-weight: 400;
  font-size: 21.64px;
  line-height: 24.54px;
  letter-spacing: 11%;
  color: #FFFFFF;
}

.footer-bg {
  background-color: #245AAB;
}

.footer-left-image {
  max-width: 355px;
  height: 200px;
  top: -6%;
}

.footer-right-image {
  max-width: 564px;
  height: 200px;
  top: -6%;
  right: 0;
}

.slider-left {
  animation: scrollLeft 18s linear infinite;
}
.pb-28{
  padding-bottom: 28px;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.slider-right {
  animation: scrollRight 18s linear infinite;
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

@media(max-width:1020.99px) {
  .team-image {
    max-width: none;
    height: 100%;
    margin-bottom: 23px;
    width: 100%;
  }
  .card-text {
    max-width: none;
  }
}

@media(max-width:768.99px) {
  .story-image {
    height: 100%;
  }
  .slider-image {
    width: 250px;
    height: 250px;
  }
}

@media(max-width:640.99px) {
  .footer-right-image {
    display: none;
  }
  .footer-left-image {
    display: none;
  }
   .slider-image {
    width: 190px;
    height: 190px;
  }
}